<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd"> 
		
	<bean id="libroDAO" class="com.arquitecturajava.dao.jpa.LibroDAOJPAImpl"> </bean>
	<bean id="categoriaDAO" class="com.arquitecturajava.dao.jpa.CategoriaDAOJPAImpl"></bean>
	<bean id="libroService" class="com.arquitecturajava.servicios.impl.LibroServiceImpl">
		<property name="libroDAO" ref="libroDAO"></property>
		<property name="categoriaDAO" ref="categoriaDAO"></property>
	</bean>
</beans>